@import 'jeet'
@import('rupture-config')

body
  color #6a6a6a
  background-color #f6f6f6
  font-family "Muli",Helvetica,Arial,sans-serif;

.container
  center(90%)

header.main-header
  background-color #7522C5

    a
      color #FFF
      font-size 30px
      margin-bottom: 0
      text-decoration none

// Import each section styles

@import('events')

@import('users')