@import 'jeet'
@import('rupture-config')

body
  margin 0
  color #6a6a6a
  background-color #f6f6f6
  font-family "Muli",Helvetica,Arial,sans-serif;

  a
    color #127887

.container
  center(90%)

header.main-header
  background-color #127887
  padding-top 5px
  padding-bottom 5px

  h1
    margin 0

  a
    color #FFF
    font-size 30px
    margin-bottom: 0
    text-decoration none


// Import each section styles

@import('events')

@import('users')