.simple-user
  .user-avatar
    float: left;
    overflow: hidden;
    width: 32px;
    height: 32px;
    background-image: url(http://donatered-asset.s3.amazonaws.com/assets/default/default_user-884fcb1a70325256218e78500533affb.jpg);
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
