<div class="events">
    <ul class="event-items">
        <li ng-repeat="event in $ctrl.events" class="four columns">
            <div class="event-item-container">
                <img ng-src="{{ $ctrl.getImagePath(event.photo_url) }}">
                <div class="event-detail">
                    <div class="vertical-centered">
                        <h3>{{ event.name }}</h3>
                        <p class="separator orange">{{ event.description }}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
