<div class="events">
    <ul class="event-items">
        <li dir-paginate="event in $ctrl.events|itemsPerPage:$ctrl.itemsPerPage" total-items="$ctrl.totalEvents">
            <div class="event-item-container">
                <img ng-src="{{ $ctrl.getImagePath(event.photo_url) }}">
                <div class="event-detail">
                    <a ng-link="['Event', { id: event._id }]" class="event-title">{{ event.name }}</a>
                    <p class="event-description">{{ event.description }}</p>
                </div>
            </div>
        </li>
    </ul>
    <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true"
        on-page-change="$ctrl.getEvents(newPageNumber)" >
    </dir-pagination-controls>
</div>
