<div class="row">
    <div class="twelve columns">
        <form name="recoverPass">
            <div>
                <h5> Si no recuerdas tu contraseña solicita una nueva desde aquí </h5>
                <h5> Introducce tu email y te enviaremos un link para recuperar tu contraseña </h5>
            </div>
            <div>
                <input id="recover-email" type="email" ng-model="email" placeholder="email" required>
            </div>
            <div>
                <button id="recover-button" ng-click="notifyServer()" ng-disabled="recoverPass.$invalid"> Solicitar </button>
                <div>
                    <h6> Recuerda revisar tu bandeja de correo no deseado en caso de no encontrar el correo en tu bandeja de entrada  </h6>
                </div>
            </div>
        </form>
    </div>
</div>