<div ng-if="photos.length === 1" class="single-pub-img-container">
    <img ng-src="{{ photos[0] }}">
</div>
<div ng-if="photos.length > 1" class="swiper-container" style="width: 600px; height: 300px;">
    <div class="swiper-wrapper">
        <div ng-repeat="photo in photos"
            class="swiper-slide">
            <!--img ng-src="{{ photo }}"-->
            <img src="/static/events/default-match.jpg">
        </div>
    </div>
    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Pagination-->
    <div class="swiper-pagination"></div>
</div>