<div class="page-single-pub">
    <h2 class="pub-title">
        <span ng-if="$ctrl.checkUserLogged() && $ctrl.favoritePubs.indexOf($ctrl.pubData._id) !== -1">★ </span>
        {{ ::$ctrl.pubData.name }}
    </h2>
    <div>
        <div class="single-pub-images-container">
            <photos-swiper
                photos="$ctrl.images">
            </photos-swiper>

            <p class="pub-category">{{ ::$ctrl.pubData.category.name }}</p>
        </div>
        <div class="pub-details">
            <div ng-if="$ctrl.checkUserLogged() && $ctrl.favoritePubs.indexOf($ctrl.pubData._id) === -1"
                class="add-favorite-pub-container">
                <button class="favorite" ng-click="$ctrl.addFavoritePub($ctrl.pubData._id)">★ Añadir bar como favorito</button>
            </div>
            <div ng-if="$ctrl.canGetUser" class="user-view">
                <simple-user userdata="::$ctrl.creatorData"></simple-user>
            </div>
            <elements-map
                elements="[$ctrl.pubData]">
            </elements-map>
        </div>
        <div ng-if="$ctrl.checkUserLogged()" class="create-event-container">
            <new-event pub="::$ctrl.pubData._id"></new-event>
        </div>
    </div>
</div>
