<div class="container">
    <div class="row">
        <div class="twelve columns">
            <header>
                <h1>Pick and Gol</h1>

                <h3>Encuentra tus eventos en tu bar mas cercano!</h3>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a ng-link="['Login']">Login</a>
                    </li>
                    <li>
                        <a ng-link="['NewUser']">Registrarse</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <ng-outlet></ng-outlet>
</div>
