<header class="main-header">
    <a class="main-header-logo" href="/"><h1>PickAndGol</h1></a>
</header>

<div class="container">

    <!--<div class="events-list">
        <nav class="navigation-bar">
            <ul>
                <li>
                    <!-- 'ngLink' establishes route to navigate name -->
                    <!--a ng-link="['Events']">Eventos</a>
                </li>
                <!--li>
                    <a ng-link="['NewProduct']">Nuevo producto</a>
                </li-->
            <!--ul>
        </nav>
    </div>-->

    <!-- Dynamic zone -->
    <ng-outlet></ng-outlet>


</div>

<footer class="main-footer">
    <h1>Pick and Gol. Encuentra eventos en tu bar favorito</h1>
</footer>