<header class="main-header">
    <a class="main-header-logo" href="/"><h1>PickAndGol</h1></a>
</header>

<div class="container">

    <div class="row">
        <div class="twelve columns">
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a ng-link="['Events']">Eventos</a>
                    </li>
                    <li>
                        <a ng-link="['Login']">Login</a>
                    </li>
                    <li>
                        <a ng-link="['NewUser']">Registrarse</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Dynamic zone -->
    <ng-outlet></ng-outlet>


</div>

<footer class="main-footer">
    <h1>Pick and Gol. Encuentra eventos en tu bar favorito</h1>
</footer>

